
body {
    background: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main{
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    height: 760px;
    background-color: rgba(90, 63, 42, 0.95);
    box-shadow: 0px 0px 5px 5px #3D2719;
}

.zelena{
    color: green;
    border-style: double;
    border-color: black;
    height: 38.4px;
    font-weight: bold;

}

.cervena{
    color: red;
    border-style: double;
    border-color: black;
    height: 38.4px;
    font-weight: bold;

}
.mapa{
    position: relative;
    top: 20px;
}
.ukoly{
    background-color: #ffc550;
    text-align: center;
    width: 219px;
    border-style: double;
    float: right;
    position: relative;
    top:159px;
}
.tlac{
    width: 150px;
    height: 65px;
    position: relative;
    left: 325px;
    display: block;
    margin-top: 25px;
    font-size: 20px;
}
.uvod
{
    text-align: center;
    height: 480px;
    width: 800px;
    position: relative;
    top: 140px;
    left: 200px;
    background: #bab239;
    font-size: 30px;
}
.info{
    display: none;
    text-align: center;
    height: 480px;
    width: 800px;
    position: relative;
    top: 140px;
    left: 200px;
    background: #bab239;
    font-size: 30px;
}
.intro{
    display: none;
}

.int{
    position: relative;
    top: 30px;
    left: 75px;
}

.vyber{
    float: left;
    background-color: #ffc550;
    text-align: center;
    width: 219px;
    border-style: double;
    position: relative;
    top:159px;
}
.menu{
    color: black;
    border-style: double;
    display: block;
    height: 38.4px;
}

.konecHry{
    text-align: center;
}

.tlc{
    width: 200px;
    height: 65px;
    position: relative;
    left: 500px;
    display: block;
    margin-top: 50px;
    font-size: 20px;
}

.tlk{
    height: 65px;
    width: 410px;
    position: relative;
    left: 390px;
    display: block;
    margin-top: 50px;
    font-size: 20px;
}

.zmapa{
    width: auto;
    height: auto;
    display: block;
    font-size: 20px;
    float: left;
    position: relative;
    top:20px;
    left:25px;
}
h1{
    position: relative;
    top: 20px;
    text-align: center;
}
h3{
    margin-bottom: 0px;
    text-align: center;

}
p1{
    margin-top: 60px;
    margin-bottom: 60px;
}

.k{
    margin:30px;
}

p2{
    font-weight: bold;
}

p4{
    font-size: 25px;
}

p5{
    font-size: 20px;
}
.nahravka{
    position: relative;
    left: 50px;
    top: 20px;
}

.kont{
    text-align: center;
    display: block;
    margin-top: 50px;
}

.odpoved{
    width: 164px;
    height: 27px;
    font-size: 17px;
}
.kontrola {
    font-size: 15px;
}

.konec{
    text-align: center;
    height: 480px;
    width: 800px;
    position: relative;
    top: 140px;
    left: 200px;
    background: #bab239;
    font-size: 30px;
    display: block;
}

.konecH{
    position: relative;
    left:265.5px;
    display: block;
    font-size: 20px;
    margin-top: 200px;
}